
body, html {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.test-font {
    font-size: 30px;
}

.big-font {
    font-size: 30px;
}

.name {
    font-size: 80px;
    color:black;
    margin-left: 50%;
    margin-right: 50%;
}