
/*

body, header {
    height: 100%;
}

*/

.test-font {
    font-size: 100px;
}

.big-font {
    font-size: 100px;
}

.name {
    font-size: 80px;
    color:mintcream;
    padding-top: 12%;
    padding-bottom: 0%;
    font-family: 'Times New Roman', Times, serif;
}